/*
Tener en cuenta consulta de medios: ancho, alto o
resolucion de la pantalla

Ejemplo de consulta de medios:
@media media-type (media-feature){
Los estilos van aquí
 }

@media: indica cómo se verá el css en funcion de ciertas condiciones


*/






/*monitor: funciona*/
@media (width >= 360px) and (width <= 2000px) {
    body {
        background-color: lightblue;
        color: darkblue;
    }

    .container {
        width: 100%;
    }
  }
  
