/*
Tener en cuenta consulta de medios: ancho, alto o
resolucion de la pantalla

Ejemplo de consulta de medios:
@media media-type (media-feature){
Los estilos van aquí
 }

@media: indica cómo se verá el css en funcion de ciertas condiciones
*/


/*indica anchura minima y maxima*/
@media (min-width: 320px) and (max-width: 2000px) {
    body {
        background-color: rgb(254, 255, 255);

    }

    
    
    .container{
        display: flex;
        visibility: visible;
        width: 100%;
    }

    #caja1,
    #caja2 {

        background-color: rgb(235, 126, 24);
        height: 100px;
        flex: 1; /* Esto hace que cada caja ocupe el mismo ancho */
        margin: 10px;
    }



    #cajaMediana {
        background-color: #daec00; /* Color de la caja mediana */
        height: 150px; /* Altura de la caja mediana */
        margin: 10px;
    }

    .containerTresCajas {
        display: flex;
        width: 100%;
    }
    
    #caja3,
    #caja4,
    #caja5 {

        background-color:#4a89d0;
        height: 100px;
        flex: 1; /* Esto hace que cada caja ocupe el mismo ancho */
        margin: 10px;
    }








}