*{
  margin: 0;
  box-sizing: border-box;
}

.img{
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}


/*si es mayor a 600px se aplica en el body en steelblue*/
@media (min-width:600px) {
  body{
    background-color: steelblue;
  }

}

